@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.content-body {
  height: calc(100vh - 69px);
  overflow: auto;
}

.container {
  max-width: 800px;
  margin: 10px auto;
  overflow: auto;
  min-height: 300px;
  padding: 30px;
  border-radius: 5px;
}

.no-items {
  margin-top: 16px;
}

.item {
  margin: 16px 0px;
}

.app-bar {
  color: black;
  background-color: lightblue;
  height: 69px;
}

.toolbar {
  display: flex;
  gap: 16px;
}

.toolbar header{
  margin:auto;
  vertical-align:middle;
  font-size: larger;
}

.users-attached {
  margin-top: 16px;
}
.users-attached .user:not(:last-child){
  margin-right: 8px;
}
